:root {
    --black: #070707;
    --text: #828282;
    --star-gray: #e5e5e5;
    --bg-gray: #f6f6f6;
    --linkedin-blue: #0072b1;
    --instagran-purple: #833ab4;
    --behance-blue: #053eff;
    --dribble-pink: #ea4c89;
    --font-family: "Open Sans", sans-serif;
    --font-size: 14px;
    --width-main: 970px;
}

body {
    font-family: var(--font-family);
    color: var(--black);
    text-align: center;
    line-height: 1.2;
}

.container {
    margin: 0 auto;
    max-width: var(--width-main);
}

.header-container {
    border-bottom: 1px solid var(--text);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-link {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2%;
    color: var(--text);
    display: block;
    padding: 25px 0;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    color: var(--black);
}

.hero {
    padding-top: 12px;
}

.hero-title {
    padding-top: 12px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
}

.section-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 50px;
}

.section {
    padding: 100px 0;
}

.section-bg-grey {
    background-color: #F6F6F6;
}

.about {
    width: 480px;
    margin: 0 auto;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
}

.about-text:not(:last-child) {
    margin-bottom: 30px;
}

.skills-title {
    margin-bottom: 30px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}

.img-desc {
    margin-top: 25px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 700;
    color: var(--text);
    width: 90px;
}

.img-desc-figma {
    margin-bottom: 70px;
}


.list-stars {
    display: flex;
    gap: 10px;
}

article:not(:last-child) {
    margin-bottom: 70px;
}

.portfolio-link {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-style: solid;
    /* text-underline-offset: 0%; */
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: none;
    text-align: center;
    color: var(--black);
    width: 200px;
}

article:last-child>a.portfolio-link {
    width: 260px;
}

.footer_top {
    margin: 0 auto;
    width: 280px;
}

.contacts-title {
    margin-bottom: 20px;
}
.footer-container{
    width: 310px;
    margin: 0 auto;
}
.contacts-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 60px;
}

.button-contacts {
    border-radius: 22px;
    padding: 0px 16px;
    width: 180px;
    height: 44px;
    color: #ffffff;
    background-color: var(--black);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 30px;
}
.icon_social{
    display: flex;
    gap: 50px;
}
.footer-bottom {
    font-weight: 400;
    font-size: 14px;
    color: var(--text);
    margin-top: 60px;
}